/*
* Reference: 
* 1. Tutorial videos from Paul Brokenshire for IAT339
* 2. "A Guide to Flexbox": http://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

*, *::before, *::after {
	box-sizing: border-box;
}

/* Parent */

.container,
.top-nav ul, 
.side-nav ul {
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.container, 
.top-nav ul {
	-webkit-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	justify-content: space-evenly;
}

.container {
	margin: 0;
}

.top-nav ul {
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;

	padding: 0;
}

.side-nav ulï¼Œ
.vertical-container {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.left-align-items {
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}

.right-align-items {
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}

.space-between {
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.center-align-items, .top-nav ul {
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.no-wrap {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.side-nav ul {
	padding: 0 2.5rem;
}

/* Child */

.container-item,
.title, 
.side-nav, 
.color-box {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.top-nav, 
.container-item-9 {
	-webkit-flex: 9 1 auto;
	-ms-flex: 9 1 auto;
	flex: 9 1 auto;
}

.container-item-2 {
	-webkit-flex: 2 1 auto;
	-ms-flex: 2 1 auto;
	flex: 2 1 auto;
}

.container-item-3 {
	-webkit-flex: 3 1 auto;
	-ms-flex: 3 1 auto;
	flex: 3 1 auto;
}

.container-item-4 {
	-webkit-flex: 4 1 auto;
	-ms-flex: 4 1 auto;
	flex: 4 1 auto;
}

.container-item-full {
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.title {
	padding-left: 1.5rem;
}

.container-item,
.container-item-2,
.container-item-3,
.container-item-4,
.container-item-9,
.container-item-full {
	padding: 1rem;
}

p.container-item {
	margin-top: 1rem;
	padding: 0 1rem;
}

p.tile {
	-webkit-flex: 0 0 3.5em;
	-ms-flex: 0 0 3.5em;
	flex: 0 0 3.5em;

	margin-top: 0.5rem;
	padding: 1rem;
}

.top-nav li { /* Parent: .top-nav ul */
	/*padding-top: 1rem;*/
	padding: 1rem 0.5rem 0 0.5rem;
}

.side-nav li { /* Parent: .side-nav ul */
	padding-bottom: 2.5rem;
}

@media (max-width: 480px) {
	header a.container-item {
		padding-right: 0.5rem;
		-webkit-flex-basis: 0;
		-ms-flex-basis: 0;
		flex-basis: 0;
	}
}

/* Style guide */

@media (min-width: 980px) {
	h4.container-item {
		-webkit-flex: 0 1 12em;
		-ms-flex: 0 1 12em;
		flex: 0 1 12em;
	}

	code.html, code.css {
		-webkit-flex: 0 1 50%;
		-ms-flex: 0 1 50%;
		flex: 0 1 50%;
	}

	code.code-box {
		-webkit-flex: 0 1 22em;
		-ms-flex: 0 1 22em;
		flex: 0 1 22em;
	}
}







