/*
Default setting
*/

body{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em;
  margin-left: 0.25em;
}

a:hover, a:focus {
  text-decoration: none;
}

.sitemap{
  width:100%;
}

/* 
  Interactive-element
*/

.intextlink{
  color: #888888;
  display: block;
  margin: 0 0 2em;
  text-decoration: none;
  font-family: 'Raleway';
}
.intextlink:hover,.intextlink:active{
  text-decoration: underline;
  color: #ff9595;
}

/* Button css code learned from:
https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1
*/
.button{
  font-family: 'Raleway';
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ff9595;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.submitButton {
  display: inline-block;
  padding: .75em 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #888888;
  border-radius: 5px;
  background-color: #FFF;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
}

.submitButton:hover, .submitButton:focus {
  -webkit-transition: background-color 0.5s, color 0.5s ease-out;
  transition: background-color 0.5s, color 0.5s ease-out;
  color: #ffffff;
  background-color: #ff9595;
}

label, input{
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0.75em;
}

div.color1{
  height: 100px;
  background-color: #ff9595;
}
div.color2{
  height: 100px;
  background-color: #ffffff;
}
div.color3{
  height: 100px;
  background-color: #f0f0f0;
}
div.color4{
  height: 100px;
  background-color: #888888;
}
/* 
  Text-styling
*/
.heading h1{
  font-family: 'Raleway', sans-serif ;
  color: #888888;
  text-transform: uppercase;
  font-size: 2.75em;
}
.heading h2{
  font-family: 'Raleway', sans-serif ;
  color: #666666;
  font-size: 1.75em;
}
.heading h3{
  font-family: 'Raleway', sans-serif ;
  color: #888888;
  text-transform: uppercase;
  font-size: .9em;
}

section #sample{
  font-family: 'Raleway', sans-serif ;
}

.sample li{
  font-family: 'Raleway', sans-serif ;
}

/* 
  Modular Pattern Elements
*/
.nav-menu button{
  display:block;
  border:none;
  padding: 30px 32px;
  color: #888888;
  width: 500px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  background-color: #FFF;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
.nav-menu button:hover, .nav-menu button:focus {
  -webkit-transition: background-color 0.5s, color 0.5s ease-out;
  transition: background-color 0.5s, color 0.5s ease-out;
  color: #ffffff;
  background-color: #ff9595;
}

.module-menu ul {
  list-style-type: none;
  padding-left:40%;
  padding-bottom:0;
  margin-bottom:0;
  overflow: hidden;
}
.module-menu li {
  float: left;
  padding-right:5%;
}
@media (max-width: 640px){
  .module-menu ul {
    list-style-type: none;
    padding-left:30%;
    overflow: hidden;
  }
}

.checkcontent{
  font-family: 'Raleway', sans-serif;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  align-items: center;
}
@media (max-width: 640px){
  .module img{
    margin:0;
    width:100%;
  }
}