/* This CSS style is specific for branding and visual styles on my final sites. */

body {
	font-family: "Raleway", Verdana, sans-serif;
	margin: 1rem;
	color: #081428;
	font-size: 1rem;
}

header.container {
	margin-top: 4rem;
	border-bottom: 1px solid #081428;
}

nav ul {
	list-style-type: none;
	text-transform: uppercase;
}

nav.top-nav a:active, 
nav.top-nav a:hover, 
nav.top-nav a:focus {
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #081428;
}

.nav-icon {
	display: none;
}

nav.side-nav {
	border-right: 1px solid black;
	max-width: 20%;
}

/* Spacing guideline */
.padding-16 {
	padding-top: 1rem;
}
.padding-24 {
	padding-top: 1.5rem;
}
.padding-32 {
	padding-top: 2rem;
}
.padding-64 {
	padding-top: 4rem;
}
.padding-96 {
	padding-top: 6rem;
}
/* end of Spacing guideline */

h1, h2, h3, h4, p, li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.6;
}

h1, h2, h4 {
	text-transform: uppercase;
}

h1, h2, h3 {
	font-weight: lighter;
}

h1 { 
	font-size: 3.375rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

em {
	font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
}

a {
	color: #081428;
	text-decoration: none;
}

a.in-text_link {
	font-weight: bold;
	text-decoration: underline;
}

a.in-text_link:active,
a.in-text_link:hover,
a.in-text_link:focus {
	font-weight: normal;
}

a.link_with_underline {
	font-size: 1rem;
	text-decoration: underline;
	transition: text-decoration 0.5s ease-in;
}

a.link_with_underline:active,
a.link_with_underline:hover,
a.link_with_underline:focus {
	text-decoration: none;
}

.button-1, .button-2 {
	font-size: 1.25rem;
	text-align: center;
	margin-top: 1rem;
	padding: 1.25rem;
	max-width: 100%;
	display: block;
}

.button-1 {
	font-weight: bold;
	background-color: #081428;
	color: white;
	border: 2px solid #081428;
}

.button-1:active, .button-1:hover, .button-1:focus {
	background-color: white;
	color: #081428;
	transition: background-color 0.5s ease-out;
}

.button-2 {
	background-color: #ccc;
	color: #39404c;
	border: 1px solid #ccc;
}

.button-2:active, .button-2:hover, .button-2:focus {
	background-color: white;
	border-color: #39404c;
	transition: background-color 0.5s ease-out;
}

button {
	background-color: white;
	border: 1px solid #081428;
	/*border-radius: 0.25rem;*/
	padding: 0.75rem;
}

button:active, button:hover, button:focus {
	font-weight: bold;
	border-width: 2px;
}

.button, button {
	padding: 1rem 2rem;
}

label {
	display: block;
	padding-bottom: 0.5rem;
}

input[type="text"] {
	background-color: white;
	border: 1px solid #081428;
	padding: 0.5rem;
}

ul.bulleted_list li {
	font-variant: small-caps;
	font-size: 1.5rem; 
}

ol.numbered_list li {
	text-transform: uppercase;
	font-size: 1.25rem; 
}

img {
	width: 100%;
}

/* Product detail page */
.tile {
	display: inline-block;
	border: 1px solid #081428;
	margin-right: 1.25rem;
	text-align: center;
}

img.product-img {
	width: 100%;
}

img.icon {
	width: 1.375rem;
}

.right-align {
	text-align: right;
}

/* Shopping bag review */
.divider {
	margin: 3rem 0;
	border-bottom: 1px solid #ccc;
}

.order-summary {
	border: 1px solid #081428;
	padding: 1rem;
	margin-bottom: 2.5rem;
}

/* For Mobile Screen */
@media (max-width: 480px) {
	h1.title {
		padding-left: 0.5rem;
	}
	
	.top-nav {
		display: none;
	}

	.nav-icon {
		display: block;
		width: 3.5rem;
	}
}




